html,
body,
#__nuxt {
  width: 100%;
  height: 100%;
}

@media screen {
  #__nuxt {
    @apply bg-base-100;
  }
}

.bg {
  background-image: radial-gradient(hsla(var(--bc)/.2) 0.5px, hsla(var(--b2)/1) 0.5px);
  background-size: 5px 5px;
}

.table>thead>tr>th.custom {
  @apply bg-base-100 z-40 top-0 sticky;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}